@use '@/styles/colors' as c;

.sidebarOpen {
    position: absolute;
    transform: translateX(10px);
    box-shadow: 5px 5px 15px c.$primary;
    border-radius: 20px;
    top: 20px;
    bottom: 20px;
    width: 12%;
    .logo {
        hr {
            transform: translateY(10px);
        }
    }

    .active {
        background: darken($color: c.$accent, $amount: 30);
    }

    .content>div, .logout {
            border-radius: 25px;
            padding: 2px 0px;
            margin: 2px 0px;
            &:hover {
                background: c.$primary;
                color: c.$bg;
            }
        }

    .profile {
        >div {
            height: 64px;
            width: 64px;
            margin: 0 auto;
            transform: translateY(-20px);
        }
        p {
            transform: translateY(-10px);
            color: darken($color: c.$secondary, $amount: 20);
        }
    }
}

.sidebarClosed {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 20px;
    max-width: 64px;
    box-shadow: 3px 3px 10px c.$primary;
    .content>div>div, .logout>div {
        &:hover {
            background: c.$primary;
            color: c.$bg;
        }
    }

    .active>div {
        background: darken($color: c.$accent, $amount: 30);
    }

    .profile {
        >div {
            height:48px;
            width:48px;
        }
    }

    .logo {
        margin-bottom: 20px;
    }

    .content {
        margin-bottom: 20px;

        >div {
        margin: 5px 0px;
        }
    }

    .logout {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .logo, .content, .logout {
        transform: translateX(5px);
    }

    hr {
        transform: translateX(-3px);
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background: c.$bg;
}

.logo {
    display: flex;
    padding: 10px 0px;

    position: relative;

    div {
        width: 32px;
        height: 32px;
        text-align: center;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer; 
        &:hover {
            background: c.$primary;
            color: c.$bg;
        }
    }

    h1 {
        cursor: default;
        transform: translateY(-3px) translateX(5px) ;
    }

    hr {
        position: absolute;
        bottom: -15px;
    }
}

.content {
    >div {
        display: flex;
        padding: 5px 0px;
        margin: 5px 0px;
        cursor: pointer;

        >div {
            padding: 8px;
            border-radius: 5px;
            transform: translateY(5px);
        }

        p {
            font-size: 0.9rem;
            transform:  translateX(4px);
        }
    }
}

.profile {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateX(-2px);
        
    img, Image {
        border-radius: 50%;
    }

    >div {
        border-radius: 50%;
        border: 1px solid c.$primary;
    }

    h3 {
        font-size: 1.3rem;
    }

    p {
        font-size: 0.8rem;
    }
}

.logout {
    cursor: pointer;
    display: flex;
    position: relative;

    >div {
        padding: 8px;
        width: 32px;
        height: 32px;
        border-radius: 5px;
        transform: translateY(5px);
    }

    p {
        transform: translateX(4px);
    }

    hr {
        position: absolute;
        top: -20px;
    }
}

.active {
    color: c.$bg;
}
