@use 'colors' as c;
@use 'breakpoints' as b;

@mixin button ($type: 'default') {
    font-size: 18px;
    border: none;
    padding: 20px;
    border-radius: 10px;

    @if $type == accent {
        background: c.$accent;
        color: c.$bg;

        &:not(.no-hover):hover {
            background: darken($color: c.$accent, $amount: 30);
        }

    } @else if $type == primary {
        background: c.$primary;
        color: c.$bg;

        &:not(.no-hover):hover {
            background: darken($color: c.$accent, $amount: 40);
        }

    } @else {
        background: none;

        &:not(.no-hover):hover {
            background: c.$primary;
            color: c.$bg;
        }
    }

    &:hover {
        cursor: pointer;
    }

    @include b.md {
        font-size: 14px;
    }

    @include b.sm {
        font-size: 12px; 
    }
}
