@use '@/styles/colors' as c;

.board-modal {
    position: absolute;
    background: c.$primary;
    z-index: 20;
    border: 2px solid c.$primary;
    border-radius: 10px;
    box-shadow: 0 5px 10px 2px c.$black;
}

.board-close {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    color: c.$bg;
    cursor: pointer;
}

.board-container {
    padding: 10px;
    margin: 20px 0 auto;
    display: flex;
    flex-direction: column;

    button {
        background: c.$accent;
        color: c.$bg;
        border: none;
        padding: 15px;
        border-radius: 10px;
        margin: 10px;
        cursor: pointer;
        font-size: 0.9rem;
        min-width: 140px;

        &:hover {
            color: c.$primary;
            background: darken($color: c.$accent, $amount: 10);
        }
    }
}

.task-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparentize($color: c.$black, $amount: 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.task-container {
    border-radius: 10px;
    box-shadow: 0 0 10px 1px c.$primary;
    background: transparentize($color: lighten(c.$secondary, 10), $amount: 0.15);
    width: 70%;
    height: 800px;
    position: relative;

    >button {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 15px;
        right: 15px;
    }

    >div {
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 20px;
        column-gap: 20px;
        row-gap: 20px;
        max-height: 700px;
        transform: translateY(40px);
    }
}

.task {
    background: c.$bg;
    border-radius: 20px;
    height: 200px;
    position: relative;
    cursor: pointer;

    h4 {
        font-size: 1.2rem;
        padding: 0px 10px;
    }

    &:hover {
        transform: translateY(-10px);
    }
}

.task-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    position: absolute;
    bottom: 20px;
    width: 95%;
    text-align: center;
    margin-left: 8px;

    div {
        padding: 15px;
        border-radius: 10px;
    }

    &:last-child {
        grid-column-start: 3;
    }
}

.Low {
    background-color: c.$low;
    color: darken($color: c.$low, $amount: 30);
}

.Medium {
    background-color: c.$medium;
    color: darken($color: c.$medium, $amount: 30);
}

.High {
    background-color: c.$high;
    color: darken($color: c.$high, $amount: 30);
}

.kanban-container {
    width: fit-content;
    max-width: 1500px;
    margin: 0 auto;
    padding-bottom: 15px;
    height: 875px;
    display: flex;
    overflow: auto;
}

.col-container {
    position: relative;
    margin: 0 30px;
    width: 350px;
    border-radius: 20px;
    background: transparentize(lighten($color: c.$secondary, $amount: 10), 0.5);
    height: 865px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.col-title {
    border-radius: 20px 20px 0 0;
    height: 55px;
    text-align: center;
    cursor: pointer;
    
    h3 {
        font-weight: 400;
        padding: 10px;
    }
}

.col-content {
    margin-top: 2px;
    height: 770px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.col-task {
    background: c.$bg;
    margin: 8px auto;
    border-radius: 10px;
    position: relative;
    min-height: 170px;
    height: 170px;
    cursor: pointer;
    width: 85%;

    button {
        position: absolute;
        top: 5px;
        right: 5px;
        background: none;
        border: none;
        cursor: pointer;
    }

    >div {
        h4 {
            padding: 10px;
            max-width: 95%;
        }

        >div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            position: absolute;
            bottom: 20px;
            width: 90%;
            text-align: center;
            margin-left: 13px;

            >div {
                padding: 10px;
                border-radius: 10px;
            }
        }
    }
}

.col-add {
    margin: 8px auto;
    width: 85%;
    cursor: pointer;
}

.col-add button {
    cursor: pointer;
    background: none;
    border: 1px dotted darken($color: c.$secondary, $amount: 10);
    height: 170px;
    width: 100%;
    margin: 8px auto;
    font-size: 1.3rem;
    color: darken($color: c.$secondary, $amount: 10);
}

.col-delete {
    position: absolute;
    bottom: -23px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    button {
        cursor: pointer;
        background: transparentize($color: c.$high, $amount: 0.3);
        color: c.$bg;
        border: none;
        border-radius: 50%;
        padding: 15px;

        &:hover {
            background: darken($color: c.$high, $amount: 1);
        }
    
        div {
            transform: translateY(3px);
        }
    }
}

.empty-body {
    background: transparentize($color: c.$secondary, $amount: 0.7);
    transform: translateY(120px);
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px c.$secondary;
    position: relative;

    p {
        text-align: center;
        font-size: 1.4rem;
        transform: translateY(-30px);
    }

    button {
        position: absolute;
        left: 0;
        right: 0;
        background: c.$high;
        margin: 0 auto;
        border: none;
        color: c.$bg;
        border-radius: 10px;
        padding: 15px;
        cursor: pointer;
        transform: translateY(-20px);
        width: 180px;

        &:hover {
            background: darken($color: c.$high, $amount: 5);
            color: c.$primary;
        }
    }
}
