@use '@/styles/colors' as c;

.sidebarOpen {
    background: c.$bg;
    height: 100vh;
    max-width: 200px;

    .active {
        background: darken($color: c.$accent, $amount: 30);
    }
   
    .logo {
        transform: translateX(-10px);
    }

    .content>div, .logout {
            border-radius: 25px;
            padding: 2px 0px;
            margin: 2px 0px;
            &:hover {
                background: c.$accent;
                color: c.$primary;
            }
        }

    .profile {
        >div {
            height: 64px;
            width: 64px;
            margin: 0 auto;
            transform: translateY(-20px);
        }
        p {
            transform: translateY(-10px);
            color: darken($color: c.$secondary, $amount: 20);
        }
    }
}

.sidebarClosed {
    background: c.$bg;
    max-width: 45px;
    height: 100vh;
    overflow-y: hidden;

    .content>div>div, .logout>div {
        &:hover {
            background: c.$accent;
            color: c.$primary;
        }
    }

    .active>div {
        background: darken($color: c.$accent, $amount: 30);
    }

    .content>div {
        transform: translateY(35px);
    }

    .logout {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .logo, .content, .logout {
        transform: translateX(5px);
    }

}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: c.$primary;
    padding: 0 20px 0 15px;
    color: c.$bg;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 10px 3px c.$black;
}

.logo {
    display: flex;
    padding: 10px 0px;

    position: relative;

    div {
        width: 32px;
        height: 32px;
        text-align: center;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer; 
        &:hover {
            background: c.$accent;
            color: c.$primary;
        }
    }

    h1 {
        cursor: default;
        transform: translateY(-3px) translateX(5px) ;
    }

}

.content {
    >div {
        display: flex;
        padding: 5px 0px;
        margin: 5px 0px;
        cursor: pointer;

        >div {
            padding: 8px;
            border-radius: 5px;
            transform: translateY(5px);
        }

        p {
            font-size: 0.9rem;
            transform:  translateX(4px);
        }
    }
}

.profile {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateX(-2px) translateY(20px);
        
    img, Image {
        border-radius: 50%;
    }

    >div {
        border-radius: 50%;
        border: 1px solid c.$primary;
    }

    h3 {
        font-size: 1.3rem;
    }

    p {
        font-size: 0.8rem;
    }
}

.logout {
    cursor: pointer;
    display: flex;
    position: relative;
    transform: translateY(-10px);

    >div {
        padding: 8px;
        width: 32px;
        height: 32px;
        border-radius: 5px;
        transform: translateY(5px);
    }

    p {
        transform: translateX(4px);
    }

}

.active {
    color: c.$bg;
}
