@use '@/styles/colors' as c;

.tasklist-container {
    height: 860px;
}

.Low {
    background-color: c.$low;
    color: darken($color: c.$low, $amount: 30)
}

.Medium {
    background-color: c.$medium;
    color: darken($color: c.$medium, $amount: 30)
}

.High {
    background-color: c.$high;
    color: darken($color: c.$high, $amount: 30)
}

.task-container {
    height: 860px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    border-radius: 10px;
    background: transparentize($color: lighten(c.$secondary, 10), $amount: 0.7);
    padding: 20px;
}

.task {
    height: 450px;
    position: relative;
    border-radius: 20px;
    margin: 20px 20px;
    background: c.$bg;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        transform: translateY(-10px);
    }
}

.task-title {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    
    h3 {
        padding: 5px;
        font-weight: 400;
        text-align: center;
    } 
}

.task-foot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    padding: 20px;
    position: absolute;
    bottom: 10px;
    width: 90%; 
}

.task-category {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.task-desc {
    position: relative;
    top: 50px;
    overflow-y: auto;
    width: 80%;
    height: 150px;
    margin: 0 auto;
    background: lighten($color: c.$secondary, $amount: 10);
    border-radius: 20px;
    padding: 10px;
}

.task-prty {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.task-ddln {
    color: darken($color: c.$secondary, $amount: 20);
    position: absolute;
    right: 0;
    padding: 10px 20px;
    font-style: italic;
}

.task-done-btn {
    border: none;
    position: absolute;
    bottom: 22px;
    right: 40px;
    background-color: c.$bg;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: c.$accent;
        color: c.$primary;
    }
}

.task-done {
    border: none;
    background: transparentize($color: c.$secondary, $amount: 0.7);
    &:hover {
        transform: none;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
}

.delete-container {
    z-index: 50;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: transparentize($color: c.$black, $amount: 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    
    >div {
        background: c.$bg;
        border-radius: 20px;
        width: 35%;

        p {
            padding: 20px;
            font-size: 1.2rem;
        }

        span {
            color: c.$high;
        }
    }
}

.delete-btn {
    background-color: c.$high;
}

.delete-foot {
    display: flex;
    justify-content: center;
    padding: 10px;
    transform: translateY(-20px);

    >button {
        margin: 0 20px;
    }
}

.task-view-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: transparentize($color: c.$black, $amount: 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    >div {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
        width: 50%;
        background: c.$bg;
        border-radius: 10px;
        position: relative;
        height: 600px;
    }
}

.task-view-title {
    margin: 0 auto;
    width: fit-content;
    padding: 20px;
}

.task-view-close {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.task-view-ddln {
    color: darken($color: c.$secondary, $amount: 20);
    padding: 10px 20px;
    font-style: italic;
}

.task-view-desc {
    position: relative;
    top: 30px;
    width: 85%;
    height: 250px;
    margin: 0 auto;
    background: lighten($color: c.$secondary, $amount: 10);
    border-radius: 20px;
    padding: 10px;
}

.task-view-foot {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    transform: translateY(70px);
    padding: 20px;
    width: 70%;
    margin: 0 auto;
}

.task-view-done-btn {
    grid-column-start: 3;
    border: none;
    border-radius: 10px;
    background: c.$bg;
    &:hover {
        background: c.$accent;
    }
    cursor: pointer;

    span {
        position: relative;
        top: -2px;
        left: 8px;
    }
    padding-right: 20px;
    padding-top: 4px;
}

.task-view-delete-btn {
    grid-column-start: 4;
    background: c.$high;
    border: none;
    border-radius: 10px;
    color: c.$bg;
    cursor: pointer;
    &:hover {
        color: darken($color: c.$high, $amount: 20)
    }

    span {
        position: relative;
        top: -2px; 
    }
    padding-top: 4px;
}

.task-view-edit-btn {
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 10px;
    padding: 6px;
    &:hover {
        background: c.$primary;
        color: c.$bg;
    }
}

.task-view-edit {
    background: none;
    width: 90%;
    margin: 0 auto;
    height: 250px;

    textarea {
        width: 98%;
        height: 300px;
        resize: none;
        max-height: 300px;
        border: none;
        font-size: 1rem;
    }
}

.markdown {
    overflow-y: auto;
    height: 250px;
    margin: 0 auto;
    width: 90%;
}

.task-expand {
    position: absolute;
    padding: 10px;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.categories-modal {
    position: absolute;
    background: c.$primary;
    z-index: 20;
    border-radius: 10px;
    box-shadow: 0 5px 10px 2px c.$black;

    >button {
        color: c.$bg;
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
    }
}

.categories-container {
    padding: 10px;
    margin: 20px 0 auto;
    display: flex;
    flex-direction: column;
    height: 400px;
    flex-wrap: wrap;

    button {
        background: c.$accent;
        color: c.$bg;
        border: none;
        padding: 15px;
        border-radius: 10px;
        margin: 10px;
        cursor: pointer;
        font-size: 0.9rem;
        min-width: 140px;

        &:hover {
            color: c.$primary;
            background: darken($color: c.$accent, $amount: 10);
        }
    }
}

