@use '@/styles/colors' as c;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.topbar {
    display: grid;
    grid-template-areas: 'left right';
    background: c.$bg;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 0 0 20px 20px;
    padding: 5px 200px;
}

.left {
    display: flex;
    gap: 20px;
    grid-area: left;
}

.right {
    display: flex;
    flex-direction: row-reverse;
    button {
        margin: 0 5px;
        font-size: 14px;
    }
    >div {
        position: relative;
    }
    grid-area: right;
}

.clock {
    margin: auto 0;
    h4 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
        margin: 0;
        padding: 0;
    }

    grid-area: clock;
}

.calendar {
    margin: auto 0;
    h4 {
        font-size: 1.3rem;
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    grid-area: calendar;
}

.calendar-closed {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1px 15px;
    border-radius: 10px;

    div {
        transform: translateX(5px) translateY(2px);
    }

    &:hover {
        color: c.$bg;
        background: c.$primary;
    }
}

.calendar-top-open {
    color: c.$bg;
    background: c.$primary;
}
 
.calendar-open {
    z-index: 10;
    position: absolute;
    transform: translateX(-395px);
    background: c.$bg;
    border: 3px solid c.$primary;
    box-shadow: 7px 7px 10px c.$primary;
    border-radius: 20px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 40px;

    > div {
        position: relative;
        &:nth-child(3)::after {
            content: "";
            position: absolute;
            top: -20%;
            right: -25px;
            height: 120%;
            width: 1px;
            background-color: c.$secondary;
        }
    }

    .calendar-head-left {
        padding: 10px;
        margin: 10px;
        display: grid;
        grid-template-columns: 5fr 1fr 1fr;
    
        button {
            background: none;
            border: none;
            border-radius: 25px;
            &:hover {
                cursor: pointer;
                background: lighten($color: c.$secondary, $amount: 10); 
            }
        }
    }

    .calendar-head-right {
        text-align: center;
        margin: 10px;
        h4 {
            font-size: 1.2rem;
        }
        transform: translateY(7px);
    }

    .calendar-left {
        display: grid;
        margin: 5px;
        .days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            button {
                color: darken($color: c.$secondary, $amount: 30);
            }
        }

        .dates {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            text-align: right;
            button {
                padding: 12px;
                margin: 8px;
                border-radius: 17px;
                &:not(.selected-date):hover {
                    background: lighten($color: c.$secondary, $amount: 10); 
                }
            }

            >div {
                position: relative;
                &:not(:nth-last-child(-n+7))::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: c.$secondary;
                }
            }
        }

        .today {
            color: darken($color: c.$accent, $amount: 20);
        }
    
        .selected-date {
            background: c.$primary;
            color: c.$bg;
        }

        .diff-month {
            color: darken($color: c.$secondary, $amount: 20)
        }

        .task-indicator::after {
            content: '.';
            font-size: 1.7rem;
            position: absolute;
            transform: translateY(-30px) translateX(-5px);
            &:not(.selected-date) {
                color: darken($color: c.$secondary, $amount: 40);
            }
        }
    }

    .calendar-right {
        .tasks-empty {
            text-align: center;
            p {
                font-size: 1.3rem;
                color: darken($color: c.$secondary, $amount: 30);
                transform: translateY(-50px) translateX(-10px);
            }
        }

        .tasks {
            overflow-y: auto;
            max-height: 400px;
            background: transparentize(lighten($color: c.$secondary, $amount: 5), 0.6);
            border-radius: 10px;
            transform: translateX(-7px);
        }

        .task-card {
            position: relative;
            width: 80%;
            margin: 30px auto;
            padding: 20px;
            border-radius: 20px;
            box-sizing: border-box;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 60px 1fr;
            background: c.$bg;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

            transition: .5s ease;

            &:hover {
                transform: translateY(-3px);
                box-shadow: rgba(0, 0, 0, 0.6) 0px 25px 30px -10px;
            }

            h4 {
                grid-column: 1 / 5;
                font-size: 1.1rem;
                overflow: hidden;
            }

            p {
                padding: 15px;
                border-radius: 15px;
            }

            .category {
                grid-column: 1 / 3;
                text-align: center;
            }

            .priority {
                text-align: center;
                grid-column-start: 4;
                color: lighten(c.$secondary, 10);
            }

            .Low {
                background-color: c.$low;
                color: darken($color: c.$low, $amount: 30)
            }

            .Medium {
                background-color: c.$medium;
                color: darken($color: c.$medium, $amount: 30)
            }

            .High {
                background-color: c.$high;
                color: darken($color: c.$high, $amount: 30)
            }
        } 
    }
}

.task-container {
    box-shadow: 7px 7px 10px c.$primary;
    grid-area: task;
    position: absolute;
    z-index: 10;
    border: 3px solid c.$primary;
    border-radius: 20px;
    background: c.$bg;
    right: 0;
    transform: translateX(215px);
    .close-btn {
        z-index: 50;
        border-radius: 20px;
        margin: 10px 85%;
        &:hover {
            cursor: pointer;
            background: lighten($color: c.$secondary, $amount: 10); 
        }
    }

    .task-open {
        width: 500px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        grid-template-rows: repeat(6, 1fr);
        transform: translateY(-30px);

        >div {
            display: flex;
            justify-content: space-around;
        }
        
        label {
            transform: translateY(-5px);
        }

        input, textarea {
            transform: translateX(100px);
        }

        select {
            transform: translateX(100px);
            font-size: 1.2rem;
            background: none;
            border: none;
            padding: 5px;
            border-bottom: 1px solid c.$secondary;
            width: 250px; 
        }
        button {
            margin: 15px 0;
        }
    }
}

.color-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    transform: translateX(90px);
}

.color-picker {
    width: 40px;
    height: 40px;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
}

.color-selected {
    outline: 3px solid c.$primary;
}

.task-expand {
    position: absolute;
    right: 10px;
    top: 10px;
}
