@use '@/styles/colors' as c;
@use '@/styles/breakpoints' as br;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

#main main {
    background-size: 50px 10px;
    background-image: radial-gradient(c.$secondary 5%, transparent 10%);
    height: 100vh;
    position: relative;

    @include br.lg {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

#main nav {
    position: sticky;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0px 50px;
    margin: 0 auto;

    h1 {
        font-size: 2.5rem;
        transform: translateY(-5px);
        background: linear-gradient(
            c.$black,
            c.$primary,
            c.$accent
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.nav-arrows {
    position: fixed;
    z-index: 30;
    bottom: 2%;
    right: 2%;
    button {
        font-size: 1.5rem;
    }
}


.hero {
    @include br.lg-inverse{
        position: absolute;
        right: 200px;
        transform: translateY(20px);
    }

    @include br.xl {
        right: 100px;
        margin: 0 auto;
    }
}

.content-main {
    @include br.lg-inverse{
        position: relative;
        top: 300px;
        left: 100px;
        padding: 20px;
        width: 43%;
    }

    h1 {
        line-height: 90px;
        font-size: 4rem;
    }
    p {
        color: c.$primary;
        line-height: 40px;
    }
   
    @include br.xxl {
        width: 33%;

        h1 {
            font-size: 3rem;
        }

        p {
            font-size: 1rem;
            line-height: 30px;
        }
    }

    @include br.lg {
        margin: 10px auto;
        width: 50%;

        button {
            display: none;
        }
    }

}

.content-side {
    color: c.$black;
    word-spacing: 10px;
    letter-spacing: 15px;
    font-family: 'Josefin Sans', sans-serif;

    @include br.lg-inverse {
        position: absolute;
        right: 160px;
        bottom: 10%;
        font-size: 1.2rem;
    }

    @include br.xl {
        right: 80px;
        font-size: 1rem;
    }

    @include br.lg {
        margin: 10px auto;
    }

    @include br.sm {
        font-size: 0.8rem;
        letter-spacing: 10px;
    }
}

#features {
    color: c.$secondary;
    background: c.$primary;
    position: relative;

    @include br.lg-inverse{
        height: 100vh;
        display: flex;
        padding-top: 60px;
    }

    @include br.lg {
        display: flex;
        flex-direction: column;
    }

    --mask:
        radial-gradient(34.99px at 50% 48.00px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
        radial-gradient(34.99px at 50% -18px,#0000 99%,#000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
        radial-gradient(34.99px at 50% calc(100% - 48.00px),#000 99%,#0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
        radial-gradient(34.99px at 50% calc(100% + 18.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.highlight-invert {
    background: linear-gradient(
        c.$accent 30%,
        c.$secondary
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pricing {
    @include br.lg-inverse{
        height: 100vh;
        width: 80%;
        justify-content: space-between;
    }
    padding-top: 120px;
    display: flex;
    margin: 0 auto;

    @include br.lg {
        flex-direction: column;
        .pricing-hero {
            margin: 0 auto;
        }
    }

    h1 {
        font-size: 2.5rem;
    }

    .pricing-content {
        p {
            font-size: 1.2rem;
            line-height: 30px;
        }
        @include br.xl {
            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    
        @include br.lg-inverse {
            transform: translateX(80px) translateY(270px);
        }

        @include br.lg {
            margin: 0 auto;

        }
        
        button {
            margin: 10px;
        }

        width: 40%;
    }
}

#contact {
    @include br.lg-inverse{
        height: 100vh;
        padding: 60px;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }
    background: c.$primary;
    display: flex;

    @include br.lg {
        flex-direction: column;
    }

    .contact-content {
        width: 50%;
        transform: translateX(50px);
        @include br.lg {
            margin: 0 auto;
            padding-bottom: 60px;
        }
    }

    .contact-hero {
        @include br.lg {
            margin: 0 auto;
        }
    }

    >div {
        margin-top: 200px;
    }

    p {
        padding: 30px;
        transform: translateY(-40px) translateX(-150px);
        font-size: 1.2rem;
        line-height: 30px;
        background-color: c.$bg;
        width: fit-content;
        border-radius: 20px;
        box-shadow: 5px 5px 1px c.$accent;
        color: c.$primary;
    }

    form {
        box-shadow: 10px 10px 1px rgba(c.$accent, 0.8);
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;

        >div>div {
            padding: 30px 0px;
        }

        @include br.lg {
            width: 500px;
            transform: translateX(-80px);
            label {
                left: -30px;
                top: -10px;
            }
        }
    }

    button {
        width: 30%;
        margin: 0 auto;
    }

  --mask:
    radial-gradient(37.50px at 50% 52.50px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(37.50px at 50% -22.5px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.modal-outside {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparentize($color: c.$black, $amount: 0.7);
    z-index: 20;
}

.auth-modal {
    z-index: 50;
    position: fixed;
    background: c.$bg;
    top: 15%;
    left: 34.5%; 
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 10px;
    width: 30%;
    overflow: auto;
    
    > div {
        .close {
            position: absolute;
            right: 3%;
            top: 3%;
            button {
                background: none;
                border: none;
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
        display: flex;
        justify-content: center;

    }
    
    form {
        padding: 10px;
        div:first-of-type {
            padding-top: 40px;
        }
        div:last-of-type {
            padding-bottom: 70px;
        }
        button {
            width: 50%;
            margin: 10px auto;
        }
        button:last-of-type {
            margin-bottom: 30px;
        }
    }
}

.home-contact {
    position: relative;
    width: 90%;
}
