@use '@/styles/colors' as c;

@keyframes container {
  0%   {border-radius: 78% 22% 76% 24% / 22% 74% 26% 78%;}
  20%   {border-radius: 89% 11% 85% 15% / 9% 87% 13% 91%;}
  40%   {border-radius: 24% 76% 13% 87% / 73% 14% 86% 27%;}
  60%   {border-radius: 43% 57% 56% 44% / 49% 32% 68% 51%;}
  80%   {border-radius: 73% 27% 33% 67% / 37% 65% 35% 63%;}
  100%   {border-radius: 78% 22% 58% 42% / 13% 89% 11% 87%;}
}

.creation-bg {
    height: 100vh;
    background-image: url("../../assets/creation-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creation-container {
    background: c.$bg;
    width: 70%;
    height: 800px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: container 30s ease-in-out 0s infinite alternate;

    form {
        position: relative;
        
        button {
            width: 25%;
            margin: 0 auto;
        }
    }
}

.photo-container {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    >div {
        margin: 20px 0;

        >div {
            cursor: pointer;
            width: 128px;
            height: 128px;
            border-radius: 50%;

            &:hover {
                background: c.$accent;
            }
        }
    }
}

.selected-photo {
    >div {
        background: c.$accent;
    }
}
