@use '@/styles/colors' as c;

.dashboard {
    background-image: radial-gradient(
        c.$secondary 5%,
        transparent 10%
    );
    background-size: 50px 10px;
    height: 100vh;
}

.sidebar-container {
    height: 100vh;
}

.topbar-container {
    position: absolute;
    left: 0;
    right: 0;
    width: 65%;
    margin: 0 auto;
}
